* {
    margin: 0;
    padding: 0;
    border: 0;
}

label{
    display: block;
}

input[type="radio"]{
    display: none;
}

body, html, .contain{
    width: 100%;
    height: 100%;
    font-size: 62.5%;
}

input, textarea{
    outline:none;
}

textarea{
    resize:none
}

select{
    outline: none;
}

.nav-top{
    width: 100%;
    height: 66px;
}

.nav-top-row{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-top-back-container{
    width: 64px;
    height: 32px;
}

.nav-top-back{
    margin-left: 32px;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-image: url(../image/返回.png);
}

.nav-top-text{
    height: 100%;
    line-height: 64px;
    font-size: 3rem;
    font-weight: bolder;
}

#nav-top-save{
    color: #348bdd;
    height: 100%;
    line-height: 64px;
    font-family: "幼圆";
    font-size: 2.5rem;
    font-weight: bold;
    padding-right: 32px;
    text-shadow: 0.5px 0.5px 0.5px #348bdd;
}

.red-font{
    line-height: 1;
    color: red;
    font-size: 1.5rem;
}

.grey-font{
    line-height: 1;
    color: grey;
    font-size: 1.5rem;
}

.content{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.student-name-contain,
.student-phone-contain{
    display: flex;
    flex-direction: column;
}

.student-name-tip,
.student-phone-tip{
    width: 90px;
    padding-left: 5px;
}

.student-name-input{
    display: flex;
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
    align-items: center;
}

.student-phone-input{
    display: flex;
    height: 40px;
    width: 100%;
    align-items: center;
}

#student-name,
#student-phone{
    display: inline-block;
    font-size: 1.9rem;
    margin:0 10px;
    width: 100%;
    height: 30px;
    outline: none;
    border-bottom: grey 1px solid;
}

#student-name:focus,
#student-phone:focus{
    border-bottom: rgb(89, 191, 238) 1px solid;
}

.ext-info{
    display: flex;
    flex-direction: column;
}

.ext-info-nav{
    display: flex;
    height: 70px;
    line-height: 70px;
    background-color: rgb(221, 221, 221);
    flex-direction: row;
    justify-content: space-between;
}

.ext-info-text{
    margin-left: 18px;
}

#ext-info-button{
    font-size: 1.5rem;
    color: #348bdd;
    margin-right: 18px;
}

.ext-info-content{
    display: flex;
    height: 290px;
    width: 100%;
    flex-direction: column;
}

.sex-select,
.date-select,
.grade-select,
.school-select,
.like-select{
    display: flex;
    width: 100%;
    margin-left: 18px;
    margin-right: 18px;
    height: 57px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sex-text,
.date-text,
.grade-text,
.school-text,
.like-text{
    width: 30%;
    height: 100%;
    font-size: 1.8rem;
    color: grey;
    line-height: 57px;
}

.sex-radio{
    width: 60%;
    padding-right: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.male-radio,
.female-radio{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
}

label{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.male-radio{
    width: 20%;
    height: 80%;
}

.female-radio{
    width: 20%;
    height: 80%;
}

.male-icon{
    background-image: url(../image/男生.png);
}

.female-icon{
    background-image: url(../image/女生.png);
}

.male-icon,
.female-icon{
    display: block;
    width: 16px;
    height: 16px;
}

.male-text,
.female-text{
    width: 45px;
    height: 32px;
    font-size: 1.5rem;
    line-height: 32px;
    text-align: center;
}

.date-input-contain,
.grade,
.school-input-contain,
.like-input-contain{
    width: 70%;
}

.date-input{
    font-size: 1.6rem;
    color: rgba(70, 70, 70, 0.966);
    height: 40px;
    width: 30%;
}

.school-input,
.like-input{
    color: grey;
    width: 80%;
    height: 80%;
}

.grade-choose{
    font-size: 1.2rem;
    color: rgba(70, 70, 70, 0.966);
    width: 20%;
    height: 80%;
}
